

.icon {
  width: 32px;
  height: 32px;
  text-align: center;
  padding: 7px 8px;
  border: 2px solid;
  border-radius: 50%;
}

.header {
  padding-top: 50px;
  background-color: #eee;
  overflow: hidden;
}
.footer {
  color: #887;
  background-color: #eee;
  padding-top: 30px;
  padding-bottom: 30px;
}

.content {
  position: relative;
  display: table;
  width: 100%;
  min-height: 100vh;
}
.pull-middle {
  display: table-cell;
  vertical-align: middle;
}

.btn {
  padding-left: 25px;
  padding-right: 25px;
}
.btn-circle {
  border-radius: 20px;
}

.input-group input {
  border: 0;
  box-shadow: none;
  padding-right: 30px;
}
.input-group input:focus,
.input-group input:active {
  outline: 0;
  box-shadow: none;
}
.input-group-btn:last-child>.btn {
  z-index: 2;
  margin-left: -18px;   
  border-radius: 20px;
}

.titleName{    
    color: aliceblue;
    text-decoration: underline;
    
}

a:hover { 
  color: burlywood;
}

img{
  cursor: pointer;
}


.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .homeContainer{
    padding: 25px;
  }
  
  .header-content{
    min-height: 91vh;
  }

  
